<!DOCTYPE html>
<html lang="en">

<head>
      {{>headerLinks}}

</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side divs --> 
                    <div class="col-md-6 col-12 right">
                        <figure>
                            <img src="images/girl.png" alt="thapa" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr"> Mern stack developer </span> Youtube and freelancer</h1>
                        <a href="https://www.thapatechnical.com/" target="_blank"><button>About me</button></a>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
   {{>footer}}
</body>

</html>